@model List<WebApplication1Test.Models.EntityFramework.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@foreach (var product in Model)
{
    <div>
        <h4>Product</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => product.ProductName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => product.ProductName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => product.ProductDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => product.ProductDescription)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@product.ProductId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}
